.THIS .slds-picklist__label {
	height : 34px;
}
.THIS .btn {
    width: 100%;
}

.THIS .slds-icon {
    right: 2.5% !important;
}
.THIS .scroll{
    max-height: 150px;
    overflow-y: auto;
    display: block;
}
.THIS .input {
    width: 100%;
    max-width: 100%;
}